
<div class="d-flex flex-wrap  mb-3 text-center text-white" style="height:20rem !important;">
  <div *ngFor="let dataCapsule of getJsonValue ">
    <div class="card  text-dark p-3  " style="width:20rem;">
      <img [src]="myimage" class="card-img-top" alt="">
      <div class="card-body">
        <h1 class="card-title">ID: {{dataCapsule.capsule_serial}}</h1>
        <h2 class="card-title">{{dataCapsule.capsule_id}}</h2>
        <h3 class="card-text text-center">{{dataCapsule.details}}</h3>
        <h4 class="card-text">{{dataCapsule.status}}</h4>
        <h4 class="card-text">{{dataCapsule.original_launch}}</h4>
        <h4 class="card-text">{{dataCapsule.original_launch_unixs}}</h4>
        <h4 class="card-text">{{dataCapsule.landings}}</h4>
        <h4 class="card-text">{{dataCapsule.type}}</h4>
        <h4 class="card-text">{{dataCapsule.details}}</h4>
        <h4 class="card-text">{{dataCapsule.reuse_count}}</h4>
      </div>
    </div>
  </div>
