
<div *ngFor="let obj of getJsonValue | keyvalue"></div>

<div class="card  text-dark p-3 " style="width: 28rem;" >
    <img src="{{getJsonValue.links.mission_patch_small}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title">{{getJsonValue.mission_name}}</h1>
      <h5 class="card-title">Year: {{getJsonValue.launch_year}}</h5>
      <p class="card-text text-start">{{getJsonValue.details}}</p>
      <h3 href="#" class="btn btn-dark">More Related infos</h3>
      <div class="list-group">
        <a href="{{getJsonValue.links.reddit_launch}}" target="_blank" class="list-group-item list-group-item-action">Reddit article 1</a>
        <a href="{{getJsonValue.links.reddit_media}}" target="_blank" class="list-group-item list-group-item-action">Reddit article 2</a>
        <a href="{{getJsonValue.links.presskit}}" target="_blank" class="list-group-item list-group-item-action">Presskit</a>
        <a href="{{getJsonValue.links.article_link}}" target="_blank" class="list-group-item list-group-item-action">Article_link</a>
        <a href="{{getJsonValue.links.wikipedia}}" target="_blank" class="list-group-item list-group-item-action">Wikipedia</a>
        <a href="{{getJsonValue.links.video_link}}" target="_blank" class="list-group-item list-group-item-action">Youtube</a>
      </div>
    </div>
</div>

